## This file is added for reproducibility only and intentionally not updated regularly. ##
## To keep your system secure, please always update to the latest versions.		##

boto3
flask 
gunicorn
numpy==1.22.2
pandas==1.3.5
sagemaker==2.218.0
scikit-learn==1.0.1
xgboost==1.7.0
daal4py==2021.7.1
setuptools==65.5.1
